body .img1 img {
  border-radius: 50%;
  background-image: 50px 50px;
  max-height: 250px;
  justify-content: left;
}

.header-container header nav a {
  margin: 0 10px;
  border: 1px solid lightgray;
  padding: 20px;
  display: inline-block;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
  background: #ff6633;
}

.header-container {
  width: 600px;
  margin: 0 auto;
  background: white;
  padding: 30px 50px;
}

body {
  margin: 10%;
}

.mainText {
  background-color: #ddb9a3;
  color: white;
}

.backgroundFooter {
  background-color: #f9e7dc;
}

.main-container {
  border: 5px solid blue;
  margin: 20px 0;
}

.intro {
  border: 5px solid purple;
}
.mainText {
  border: 5px solid red;
}
.footer-container {
  border: 5px solid orange;
}

.footer-container .footer_img img {
  max-width: 100;
}
